# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE stuff
.idea
.vs

# Build directories
cmake-build-*
build
src/Characters/*/output
src/Characters/*/pack

# Soku data files
*.dat
*.cv0
*.cv1
*.cv2
*.cv3
*.cv4
